<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="./../static/style.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css"
    />
    <title>Portfólio</title>
  </head>
  <body>
    <i class="bi bi-list menu-mobile"></i>

    <aside id="header">
      <section class="profile">
        <figcaption>
          <img src="../static/img/link1.jpg" alt="foto de perfil" />
        </figcaption>
        <h1>Jackson Tavares</h1>
        <div class="social-links mt-4 text-center">
          <a target="_blank" href="https://github.com/jacksont-santos">
            <i class="bi bi-github"></i> Meu GitHub</a
          >
          <a
            target="_blank"
            href="https://www.linkedin.com/in/jackson-tavares-santos/"
            ><i class="bi bi-linkedin"></i> Linkedin</a
          >
        </div>
      </section>
      <section>
        <nav id="navbar" class="nav-menu">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#"
                ><i class="bi bi-house-door-fill"></i>Inicio</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#sobre"
                ><i class="bi bi-person-circle"></i>Sobre</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#habilidades"
                ><i class="bi bi-list-check"></i>Habilidades</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#curriculo"
                ><i class="bi bi-file-text-fill"></i>Currículo</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#portfolio"
                ><i class="bi bi-card-list"></i>Portfólio</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#contato"
                ><i class="bi bi-envelope-fill"></i>Contato</a
              >
            </li>
          </ul>
        </nav>
      </section>
    </aside>

    <main id="main">
      <section id="inicio" class="row m-0 p-0">
        <div
          class="col-md-5 d-flex justify-content-center align-items-center flex-column"
        >
          <h2 class="text-shadow">Jackson Tavares</h2>
          <span id="subtitle"
            >Desenvolvedor Web Júnior, Full Stack, Estudante</span
          >
        </div>
        <div
          class="col-md-7 d-flex justify-content-end align-items-end"
          id="mais"
        >
          <i class="bi bi-arrow-down-circle-fill">
            <a id="arraste" href="#sobre">Mais</a>
          </i>
        </div>
      </section>

      <section id="sobre" class="container mt-5">
        <div class="row w-100">
          <div class="col-md-12" data-anime="down">
            <h2 class="pt-3">Sobre</h2>
            <p>
              Sou um entusiasta da internet por ser uma rede capaz de conectar
              pessoas de todos os lugares e se tornar uma grande biblioteca
              mundial, consequentemente meu objeto de trabalho não poderia ser
              outro e desejo contribuir com esta rede profissionalmente
              conectando pessoas, empresas e criando serviços.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <img
              src="../static/img/foto.jpg"
              alt="foto"
              class="img-fluid"
              data-anime="left"
            />
          </div>
          <div class="col-md-8" data-anime="right">
            <div class="row">
              <div class="col-md-6">
                <ul class="list-group fs-5">
                  <li class="list-group-item bg-transparent text-white">
                    Idade: <span class="text-secondary">27 anos</span>
                  </li>
                  <li class="list-group-item bg-transparent text-white">
                    Cidade: <span class="text-secondary">Camaçari</span>
                  </li>
                  <li class="list-group-item bg-transparent text-white">
                    Estado: <span class="text-secondary">Bahia</span>
                  </li>
                  <li class="list-group-item bg-transparent text-white">
                    Hobby: <span class="text-secondary">Games e Youtube</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="mt-5 sec-bg" id="habilidades">
        <div class="container pb-5" data-anime="down">
          <h2 class="pt-5">Habilidades</h2>
          <p>
            Abaixo estão listadas algumas habilidades que adquiri desde o inicio
            dos meus estudos em desenvolvimento web em 08/2021 até agora.
          </p>
          <div class="row px-5">
            <div class="col-md-5 skill">
              <h4>Técnicas</h4>
              <p class="mt-3">HTML</p>
              <p class="mt-3">CSS</p>
              <p class="mt-3">JavaScript</p>
              <p class="mt-3">NodeJS</p>
              <p class="mt-3">NestJS</p>
              <p class="mt-3">ReactJS</p>
              <p class="mt-3">PostgreSQL</p>
              <p class="mt-3">MongoDB</p>
              <p class="mt-3">Git</p>
              <p class="mt-3">Deploy</p>
            </div>
            <div class="col-md-5 skill">
              <h4>Não Técnicas</h4>
              <p class="mt-3">Scrum Master</p>
              <p class="mt-3">Comprometimento</p>
              <p class="mt-3">Trabalho em Equipe</p>
              <p class="mt-3">Proatividade</p>
            </div>
          </div>
        </div>
      </section>

      <section class="mt-5 cv" id="curriculo">
        <div class="container pb-5">
          <h2 class="pt-3 pb-4">Currículo</h2>

          <div class="row">
            <div class="col-md-6 mb-5">
              <h3 class="vc-title mb-5">Formação</h3>
              <div class="cv-item" data-anime="up">
                <h4>Desenvolvimento de Software</h4>
                <h5>2021 - 2022 (Em progresso)</h5>
                <p><em>BlueEdTech</em></p>
                <p>
                  Curso de programação com aproximadamente 12 meses, que tem
                  como objetivo preparar o aluno para atuar com as práticas mais
                  modernas do mercado.
                </p>
              </div>
              <div class="cv-item" data-anime="up">
                <h4>Redes de Computadores</h4>
                <h5>2016 - 2017</h5>
                <p>
                  <em>SENAI - Serviço Nacional de Aprendizagem Industrial</em>
                </p>
                <p>
                  Curso técnico de 2 anos voltado para industria de tecnologia e
                  empresas.
                </p>
              </div>
            </div>

            <div class="col-md-6">
              <h3 class="vc-title mb-5">Profissional</h3>
              <div class="cv-item" data-anime="up">
                <h4>Bootcamp</h4>
                <h5>5 Semanas</h5>
                <p><em>BlueEdTech</em></p>
                <p>
                  Bootcamp da Blue em parceria com a empresa varejista
                  brasileira com foco em venda de roupas, acessórios e
                  cosméticos de alto padrão, Restoque, que tinha como objetivo a
                  criação de um gerenciador de e-commerce.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section id="portfolio" class="mt-5">
        <h2 class="pb-4">Portfólio</h2>

        <div
          id="carouselPortfolio1"
          class="carousel slide"
          data-bs-ride="carousel"
          data-anime="right"
        >
          <div class="carousel-indicators">
            <button
              type="button"
              data-bs-target="#carouselPortfolio1"
              data-bs-slide-to="0"
              class="active"
              aria-current="true"
              aria-label="Slide 1"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselPortfolio1"
              data-bs-slide-to="1"
              aria-label="Slide 2"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselPortfolio1"
              data-bs-slide-to="2"
              aria-label="Slide 3"
            ></button>
          </div>

          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="row row-cols-1 row-cols-md-2 g-4">
                <div class="col">
                  <div class="card ca-bg">
                    <img
                      src="./../static/img/gerenciador.png"
                      class="card-img-top"
                      alt="gerenciador"
                    />
                    <div class="card-body">
                      <h5 class="card-title">Gerenc. E-Commerce</h5>
                      <p class="card-text">
                        Gerenciador para empresa varejista do ramo da moda.
                      </p>
                      <div class="d-flex justify-content-around">
                        <a
                          href="https://blue-march-client.herokuapp.com/"
                          target="_blank"
                          class="btn btn-outline-dark me-3"
                        >
                          <i class="bi bi-box-arrow-up-right"></i>
                        </a>
                        <a
                          href="https://github.com/jacksont-santos"
                          target="_blank"
                          class="btn btn-outline-dark"
                        >
                          <i class="bi bi-github"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col">
                  <div class="card ca-bg">
                    <img
                      src="./../static/img/todolist.png"
                      class="card-img-top"
                      alt="ToDolist"
                    />

                    <div class="card-body">
                      <h5 class="card-title">Lista de Tarefas</h5>
                      <p class="card-text">Crie, edite e exclua tarefas.</p>
                      <div class="d-flex justify-content-around">
                        <a
                          href="https://projeto-todolistfrontend.herokuapp.com/"
                          target="_blank"
                          class="btn btn-outline-dark me-3"
                        >
                          <i class="bi bi-box-arrow-up-right"></i>
                        </a>
                        <a
                          href="https://github.com/jacksont-santos/ToDo-List-Frontend-reactJS"
                          target="_blank"
                          class="btn btn-outline-dark"
                        >
                          <i class="bi bi-github"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="carousel-item">
              <div class="row row-cols-1 row-cols-md-2 g-4">
                <div class="col">
                  <div class="card ca-bg">
                    <img
                      src="./../static/img/catalogo.png"
                      class="card-img-top"
                      alt="catalogo"
                    />

                    <div class="card-body">
                      <h5 class="card-title">Catálogo de Filmes</h5>
                      <p class="card-text">Cadastre seus filmes favoritos.</p>
                      <div class="d-flex justify-content-around">
                        <a
                          href="https://meu-catalogo.herokuapp.com/"
                          target="_blank"
                          class="btn btn-outline-dark me-3"
                        >
                          <i class="bi bi-box-arrow-up-right"></i>
                        </a>
                        <a
                          href="https://github.com/jacksont-santos/catalogo"
                          target="_blank"
                          class="btn btn-outline-dark"
                        >
                          <i class="bi bi-github"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col">
                  <div class="card ca-bg">
                    <img
                      src="./../static/img/Timmer.png"
                      class="card-img-top"
                      alt="timmer"
                    />

                    <div class="card-body">
                      <h5 class="card-title">Timer Pomodoro</h5>
                      <p class="card-text">
                        Temporizador auxiliar no trabalho e estudo.
                      </p>
                      <div class="d-flex justify-content-around">
                        <a
                          href="https://jacksont-santos.github.io/Timer-Pomodoro/"
                          target="_blank"
                          class="btn btn-outline-dark me-3"
                        >
                          <i class="bi bi-box-arrow-up-right"></i>
                        </a>
                        <a
                          href="https://github.com/jacksont-santos/Timer-Pomodoro"
                          target="_blank"
                          class="btn btn-outline-dark"
                        >
                          <i class="bi bi-github"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="carousel-item">
              <div class="row row-cols-1 row-cols-md-2 g-4">
                <div class="col">
                  <div class="card ca-bg">
                    <img
                      src="./../static/img/pokedex.png"
                      class="card-img-top"
                      alt="pokedex"
                    />

                    <div class="card-body">
                      <h5 class="card-title">Pokedex</h5>
                      <p class="card-text">Registre novos Pokemons</p>
                      <div class="d-flex justify-content-around">
                        <a
                          href="https://landing-page-pokedex.herokuapp.com/"
                          target="_blank"
                          class="btn btn-outline-dark me-3"
                        >
                          <i class="bi bi-box-arrow-up-right"></i>
                        </a>
                        <a
                          href="https://github.com/jacksont-santos/projeto-pokedex"
                          target="_blank"
                          class="btn btn-outline-dark"
                        >
                          <i class="bi bi-github"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col">
                  <div class="card">
                    <img src="..." class="card-img-top" alt="..." />
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">
                        This is a longer card with supporting text below as a
                        natural lead-in to additional content. This content is a
                        little bit longer.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselPortfolio1"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselPortfolio1"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </section>

      <section id="contato" class="pt-5 pb-5">
        <div class="container mb-5">
          <h2 class="pt-3 pb-2">Contato</h2>
          <div class="row">
            <div class="col-md-5">
              <div class="card shadow border-0">
                <div class="endereco">
                  <h4><i class="bi bi-geo-alt"></i> Localização:</h4>
                  <p>Camaçari, BA</p>

                  <div class="email">
                    <h4><i class="bi bi-envelope"></i> Email:</h4>
                    <p>jack0702@hotmail.com.br</p>
                  </div>

                  <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3890.89107298308!2d-38.20771598617367!3d-12.78558189097807!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x71646e22b500f01%3A0x85ad2fda0005952e!2sR.%20dos%20Sinos%20-%20Abrantes%2C%20Cama%C3%A7ari%20-%20BA!5e0!3m2!1spt-BR!2sbr!4v1648588804453!5m2!1spt-BR!2sbr"
                    width="400"
                    height="300"
                    style="border: 0"
                    allowfullscreen=""
                    loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"
                    class="w-100"
                    id="map"
                  ></iframe>
                </div>
              </div>
            </div>

            <div class="col-md-7">
              <div class="card h-100 shadow border-0">
                <form class="row g-3" action="/send" method="POST">
                  <div class="col-md-6">
                    <label for="nome" class="form-label">Nome:</label>
                    <input
                      type="text"
                      class="form-control"
                      id="nome"
                      name="nome"
                      required
                    />
                  </div>
                  <div class="col-md-6">
                    <label for="email" class="form-label">Email:</label>
                    <input
                      type="email"
                      class="form-control"
                      id="email"
                      name="email"
                      required
                    />
                  </div>
                  <div class="col-12 mt-5">
                    <label for="mensagem" class="form-label">Mensagem:</label>
                    <textarea
                      rows="7"
                      type="text"
                      class="form-control"
                      id="mensagem"
                      placeholder="Digite a mensagem"
                      name="mensagem"
                      required
                    ></textarea>
                  </div>
                  <div class="d-flex justify-content-center">
                    <button id="enviar" type="submit" class="btn btn-primary">
                      Enviar
                    </button>
                    <button
                      id="enviandoBtn"
                      class="btn btn-primary"
                      type="button"
                      disabled
                    >
                      <span
                        class="spinner-border spinner-border-sm"
                        role="status"
                        aria-hidden="true"
                      ></span>
                      Enviando...
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>

      {% with messages = get_flashed_messages() %} {% if messages %}
      {% for message in messages %}
      <div id="alerta" class="alert alert-success alert-dismissible fade show" role="alert">
        <i class="bi bi-check-circle-fill"></i> {{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endfor %}
      {% endif %} {% endwith %}

    </main>

    <script src="./../static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="./../static/script.js"></script>
  </body>
</html>
